@import '../../../scss/variables.scss';

.table-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 3rem;

    &__search {
        display: flex;
        padding: 1rem;
        border-radius: 0.75rem;
        border: 1px solid var(--background-secondary);
        background-color: var(--background-card-primary);
        width: 32rem;

        svg {
            display: flex;
            transform: translateY(3px);
            margin: 0 0.5rem;
        }

        input {
            padding: 0.5rem;
            border: none;
            outline: none;
            font-size: var(--font-size-default);
            background-color: var(--background-card-primary);
            color: var(--text-primary);
            width: 100%;
        }
    }

    &__delete {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        &__label {
            white-space: nowrap;
            color: var(--text-secondary);
        }
    }

    &__filters {
        display: flex;
        margin-left: auto;
        padding: 1rem;
        gap: 3rem;

        &__title {
            color: var(--text-secondary);
        }

        &__item {
            display: flex;
            align-items: center;
            gap: 0.75rem;
            white-space: nowrap;
            cursor: pointer;
        }
    }
}
